.widget-wrapper {
  background-color: transparent;
  position: fixed;
  display: flex;
  flex-direction: row;
  top: 0;
  right: 0;
  width: 270px;
}

#logout {
  /* position: fixed; */
  top: 5px;
  right: 12px;
  z-index: 99;
}

.logo-and-logout-wrapper {
  background-color: whitesmoke;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  height: 90px;
  width: 35%;
  align-items: center;
  margin-right: 5px;
}

.logo-wrapper {
  display: flex;
  align-items: center;
  top: 35px;
  right: 28px;
}

.logo {
  width: 30px;
  height: auto;
}

@media (max-width: 800px) {
  .widget-wrapper {
    height: 60px;
    width: auto;
    background-color: white;
	}
  
  .logo-and-logout-wrapper {
    display: relative;
    width: 0;
  }

  .logo-wrapper {
    display: none;
  }

  #logout {
    position: fixed !important;
    top: 12px;
    right: 2px;
    font-size: 0.7rem;
  }
}
