.user-wrapper {
  display: flex;
  height: 30px;
  margin: 10px;
}

.user-wrapper span:hover, .user-wrapper img:hover {
  cursor: pointer;
}

.user-wrapper a:hover {
  color: white;
}

.user-wrapper a {
  display: flex;
  height: 30px;
}

.user-in-draft {
  display: flex;
  height: 30px;
  width: 100px;
  align-items: center;
  font-size: 0.7rem;
  border-radius: 0 8px 8px 0;
  padding: 0 4px;
  text-align: center;
  color: var(--main-very-dark);
  font-weight: bold;
  background: var(--main-even2);
  border: 1px solid var(--main-light);
}

.user-logo {
  height: 30px;
  width: auto;
  border-radius: 8px 0 0 8px;
  border: 1px solid var(--main-light);
  padding: 0;
}

.chat-message {
  margin: 6px 2px;
  line-height: 1.2rem;
}

.chat-name {
  font-weight: 700;
  background: var(--main-even2);
  border: 1px solid var(--main-light);
  border-left: 0;
  border-radius: 0 4px 4px 0;
  padding: 8px 4px 8px 0;
  position: relative;
  right: 2px;
}

.auto-height {
  height: auto;
}
