.navbar-emoji {
  display: none;
}

.empty-star {
  color: black;
  width: 20px;
}

.isUpdatingBanner {
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: 10;
  position: fixed;
  width: 120px;
  bottom: 30px;
  left: calc(50vw - 60px);
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  text-align: center;
  padding: 5px 0;
  border-radius: 4px;
  transition: background-color 0.2s ease;
  cursor: wait;
}

@media screen and (max-width: 800px) { 
  .navbar-emoji {
    display: flex;
  }
  .isUpdatingBanner {
    bottom: 60px;
    z-index: 20;
  }
}
