#react-tabs-1, #react-tabs-3, #react-tabs-5 {
  position: fixed !important;
}

.react-tabs__tab-panel--selected {
  margin-top: -50px;
  position: fixed !important;
  top: 80px;
  min-height: calc(100vh - 80px);
}
