.inner-tab {
  color: #212529;
}

.inner-navbar-tabs {
  width: 100%;
  min-height: calc(100vh - 109px);
}

li.react-tabs__tab--selected > div.inner-tab {
  color: whitesmoke;
}

.admin-form {
  height: 500px;
  margin: 10px auto 100px;
}

.admin-form > h2 {
  margin: 50px;
}

.admin-form > div {
  display: flex;
  margin-left: calc(50vw - 400px);
}

.admin-form > div > label {
  text-align: left;
}

.admin-form > div > input, .admin-form > div > label, .wide-filter {
  width: 200px;
}

.admin-user-dropdown {
  width: 200px;
}

.player-search {
  position: relative;
  display: flex;
  flex-direction: column;
  align-self: auto;
  width: 300px;
}

#player-search-input {
  flex-direction: column;
  width: 200px;
  margin: 0;
}

#clear-field {
  position: absolute;
  left: 60%;
  top: 4px;
  font-size: 14px;
  padding: 0 4px;
  right: 100%;
}

.player-list-wrapper {
  position: absolute;
  max-height: 250px;
  width: 300px;
  border-radius: 0 4px 4px 4px;
  top: 36px;
  left: -2px;
  background-color: whitesmoke;
  color: black;
  margin: 0 2px 2px;
  overflow-y: scroll; 
  font-size: 1.1rem;
}

#player-search-input ~ .player-list-wrapper {
  opacity: 0;
}

#player-search-input:focus ~ .player-list-wrapper {
  opacity: 100;
  display: flex;
  flex-direction: column;
}

.player-list-wrapper > div:hover {
  cursor: pointer;
  color: white;
  background-color: black;
}

.player-search > div {
  text-align: left;
}

.player-search > div > div {
  padding: 1px 4px;
}

.admin-player-id {
  margin-bottom: 30px;
}

.add-keeper-button {
  margin-top: 20px;
}

.positions {
  margin: 0;
  flex-direction: row !important;
  text-align: left;
}

.positions > input {
  margin: 0 0 0 15px;
}

.positions > label {
  margin: 10px;
}
