

li.react-tabs__tab--selected > div.inner-tab {
  color: var(--main-light);
}

.admin-tab-wrapper {
  margin: 0;
  padding: 0;
}

.new-draft-tab > a.active {
  background-color: red !important;
}

.admin-form {
  background: var(--main-dark);
  min-height: 700px;
  margin: 0 30px 30px;
  border-radius: 0 0 8px 8px;
  padding: 60px 0 0;
  position: relative;
  z-index: 1;
}

.admin-form > div {
  display: flex;
  margin-left: calc(50vw - 400px);
}

.make-pick-instructions {
  width: 100%;
  text-align: center;
  flex-direction: column;
}

.admin-form > div > label {
  text-align: left;
}

.admin-form > div > input, .admin-form > div > label, .wide-filter {
  width: 160px;
}

.admin-user-dropdown {
  width: 200px;
}

.player-label {
  width: 100px;
}

.player-search {
  position: relative;
  display: flex;
  flex-direction: column;
  align-self: auto;
  width: 300px;
}

.player-search-input {
  z-index: 1;
  flex-direction: column;
  width: 300px;
  margin: 5px 0;
}

#clear-field {
  position: absolute;
  left: 75%;
  top: 4px;
  font-size: 12px;
  padding: 0 4px 2px;
  right: 100%;
  color: darkgrey;
  background: transparent;
}

.player-list-wrapper {
  position: relative;
  max-height: 240px;
  width: 300px;
  border-bottom: 1px solid var(--main-light);;
  border-radius: 4px;
  background-color: var(--main-light);
  color: var(--main-very-dark);
  margin: 2px 2px 2px 0;
  overflow-y: scroll; 
  font-size: 1.1rem;
}

.single-player {
  cursor: pointer;
  padding: 7px 10px;
  margin: 0;
}

.open {
  max-height: 240px;
}

.closed {
  max-height: 36px;
  overflow: hidden;
}

.admin-player-id {
  margin-bottom: 30px;
}

.add-player-button {
  margin-top: 20px;
}

.clear-button {
  height: 30px;
  margin: 4px;
}

.positions {
  margin: 0;
  flex-direction: row !important;
  text-align: left;
}

.positions > input {
  margin: 0 0 0 15px;
}

.positions > label {
  margin: 10px;
}

.instructions {
  background: white;
  max-width: 500px;
  margin: -35px auto 15px;
  padding: 10px 5px;
  border-radius: 8px;
  color: var(--main-very-dark);
}

.flex-direction-column {
  flex-direction: column;
}

.warning {
  color: red;
}

#team-order-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: left;
}

#team-order-wrapper > div {
  margin-left: 25px;
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.small-input {
  width: 40px !important;
}

.username-small {
  font-size: 0.9rem;
  font-variant: small-caps;
  color: var(--alt-text);
  margin-left: 5px;
  padding: 2px;
}
