.inner-tab {
  color: var(--main-very-dark);
}

.inner-navbar-tabs {
  width: 100%;
  min-height: calc(100vh - 109px);
}

.navbar-tabs .inner-navbar-tabs {
  background: var(--main-even);;
}

li.react-tabs__tab--selected > div.inner-tab {
  color: var(--main-light);
}

.admin-form {
  background: var(--main-dark);
  height: 500px;
  margin: -2px auto 100px;
  padding: 60px 0;
  position: relative;
  z-index: 1;
}

.admin-form > div {
  display: flex;
  margin-left: calc(50vw - 400px);
}

.make-pick-instructions {
  width: 100%;
  text-align: center;
  flex-direction: column;
}

.admin-form > div > label {
  text-align: left;
}

.admin-form > div > input, .admin-form > div > label, .wide-filter {
  width: 160px;
}

.admin-user-dropdown {
  width: 200px;
}

.player-label {
  width: 100px;
}

.player-search {
  position: relative;
  display: flex;
  flex-direction: column;
  align-self: auto;
  width: 300px;
}

.player-search-input {
  z-index: 1;
  flex-direction: column;
  width: 300px;
  margin: 5px 0;
}

#clear-field {
  position: absolute;
  left: 75%;
  top: 4px;
  font-size: 12px;
  padding: 0 4px 2px;
  right: 100%;
  color: darkgrey;
  background: transparent;
}

.player-list-wrapper {
  position: relative;
  max-height: 250px;
  width: 300px;
  border-radius: 0 10px 4px 4px;
  background-color: var(--main-light);
  color: var(--main-very-dark);
  margin: 0 2px 2px;
  overflow-y: scroll; 
  font-size: 1.1rem;
}

.player-search-input ~ .player-list-wrapper {
  opacity: 0;
  bottom: 1000px;
  transition: bottom 0.1s ease, opacity 0.4s ease;
  transition-delay: 200ms;
}

.player-search-input ~ .player-list-wrapper > div {
  position: relative;
  /* transition: bottom 0.1s ease; */
}

.closed {
  display: none;
}

.player-search-input:focus ~ .player-list-wrapper {
  display: flex;
  position: relative;
  opacity: 1;
  bottom: 0;
  transition: opacity 0.4s ease;
  transition-delay: 0;
}

.player-search-input:focus ~ .player-list-wrapper > div {
  display: inline-flex;
  bottom: 0;
  transition: bottom 0.8s ease;
}

.player-search-input:focus ~ .player-list-wrapper {
  opacity: 1;
  display: flex;
  flex-direction: column;
}

.player-list-wrapper > div:hover {
  cursor: pointer;
  color: white;
  background-color: var(--main-very-dark);
}

.player-search > div {
  text-align: left;
}

.player-search > div > div {
  padding: 1px 4px;
}

.admin-player-id {
  margin-bottom: 30px;
}

.add-player-button {
  margin-top: 20px;
}

.positions {
  margin: 0;
  flex-direction: row !important;
  text-align: left;
}

.positions > input {
  margin: 0 0 0 15px;
}

.positions > label {
  margin: 10px;
}

.instructions {
  background: white;
  max-width: 500px;
  margin: -35px auto 15px;
  padding: 10px 5px;
  border-radius: 8px;
  color: var(--main-very-dark);
}

.flex-direction-column {
  flex-direction: column;
}

.warning {
  color: red;
}
