
.pagination {
  display: flex;
  justify-content: space-between;
  width: 100%;
  min-width: 590px;
  padding: 0;
  margin: 0 0 20px 0;
}

.round {
  font-weight: bold;
  font-size: 1.7rem !important;
  color: white;
}

.pagination-arrows {
  display: flex;
  color: var(--main-very-dark) !important;
  cursor: pointer;
}

.pagination-arrows span {
  color: #000 !important;
}

.pagination select {
  height: 33px;
  width: 250px;
}

.pagination li.pagination-goto-page {
  display: flex;
  flex-direction: row;
  border-radius: 4px;
}

.page-link {
  display: flex;
  color: var(--main-very-dark);
  font-variant: small-caps;
}

.page-of-page {
  width: 70px;
}

.pagination-goto-page a {
  width: 200px;
}

.pagination-goto-page .page-link {
  border-radius: 4px;
}

.pagination li {
  font-size: 0.9rem;
}

.current-round-button {
  width: 50px;
  height: 18px;
  font-size: 0.9rem;
  font-variant: small-caps;
  line-height: 0.8;
  margin: 0 4px;
}

@media (max-width: 800px) {
  .pagination {
    padding-right: 0;
    margin-right: 0;
    min-width: 300px;
    margin-top: 10px;
  }

  .pagination li.pagination-goto-page {
    font-size: 0.7;
  }

  .page-link {
    font-size: 1.4rem;
    padding: 2px 5px;
    margin: 0 5px 10px;
  }

  .current-round-button {
    line-height: 1;
    font-size: 0.9rem;
    height: 28px;
  }

  .page-first {
    margin-left: 20px !important;
    padding: 7px 2px;
  }

  .page-last {
    padding: 7px 4px;
  }

  .page-first, .page-last {
    font-variant: small-caps;
    font-size: 0.9rem;
  }

  .page-or-round {
    font-variant: small-caps;
    margin-left: -30px;
    font-size: 1.1rem;
    height: 35px;
    padding-top: 6px;
  }
}
