.errorRow {
  margin: 15px;
  padding-top: 20px;
  text-align: center;
  color: white;
  font-weight: 800;
}

.errorText {
  color: var(--error);
  background: white;
  width: 100%;
  padding: 0 5px;
  margin: 5px;
}

.errorBannerFixed {
  position: fixed;
  top: 0;
  left: calc(50% - 250px);
  max-width: 600px;
  max-height: 60px;
  margin: 50px auto;
  background-color: var(--error);
  color: black;
  font-weight: 700;
  border-radius: 4px;
  padding: 10px;
  z-index: 10;
}

.stackTrace {
  cursor: pointer;
}

.stackTrace:hover {
  color: lightblue;
}
