.openChatButton {
  display: none;
}

.closeChatButton {
  display: none;
}

.chatbox {
  position: fixed;
  display: flex;
  justify-content: left;
  top: 90px;
  right: 0;
  margin: 0 0 0 10px;
  padding: 10px;
  border: 2px solid var(--main-very-dark);
  height: calc(100vh - 125px);
  width: 270px;
  background-color: whitesmoke;
}

.chatMessages {
  position: fixed;
  display: flex;
  justify-content: left;
  text-align: left;
  top: 175px;
  right: 0;
  width: 270px;
  height: calc(100vh - 192px);
  padding: 5px 10px 0;
  margin: 2px;
  word-wrap: break-word;
  overflow: scroll;
}

#chatMessages > li > div {
  margin-left: 10px;
}

#chat-title {
  position: relative;
  bottom: 40px;
  font-size: 1.1rem;
}

#user-list {
  display: flex;
  justify-content: left;
  margin-right: 6px;
  margin-left: -2px;
  max-height: 75px;
  width: 100%;
  font-weight: 800;
  font-size: 0.7rem;
  text-align: left;
  border-bottom: 1px solid grey;
  overflow-y: auto;
}

#user-list > span {
  font-weight: 400;
}

.user-wrapper {
  display: flex;
}

.narrow-user-wrapper {
  margin: 1px;
  height: 20px;
}

.user {
  color: darkorchid;
  border-radius: 0 8px 8px 0;
  font-weight: bold;
  font-size: 0.7rem;
  margin: 4px;
  padding: 4px;
}

.user-icon {
  font-size: 1.1rem;
  border-radius: 8px 0 0 8px;
  padding: 2px !important;
  height: 30px;
}

.narrow-icon {
  padding: 1px !important;
  font-size: 0.85rem;
}

.chat-status-message {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0 auto;
}

.message {
  word-break: break-all;
  word-break: break-word;
  font-size: 0.8rem;
}

.chat-announcement {
  font-weight: bold;
  font-style: italic;
}

#messageInput {
  position: fixed;
  bottom: 2px;
  right: 0;
  width: 270px;
  padding: 5px;
}

#send-message-button {
  position: fixed;
  right: -200px;
  /* display: none; */
}


@media (max-width: 800px) {
  .chatbox {
    width: 100vw;
    top: 0;
    height: calc(100vh - 90px);
  }

  #user-list {
    max-height: 85px;
    padding-right: 40px;
  }

  .chatMessages {
    top: 95px;
    width: 98vw;
    height: calc(100vh - 195px);
  }

  #messageInput {
    bottom: 55px;
    right: 0;
    width: 100vw;
    height: 55px;
  }

  .openChatButton {
    display: flex;
    position: fixed;
    box-shadow: -1px -1px black;
    bottom: 62px;
    right: 2px;
    height: 30px;
    background-color: var(--main-even);
    color: var(--main-very-dark);
  }

  .openChatButton > div {
    margin-left: 5px;
    font-variant: small-caps;
  }

  .closeChatButton {
    display: flex;
  }
  .closeChatButton > button {
    padding: 8px 10px;
  }
}
