
#chatbox {
  position: fixed;
  display: flex;
  justify-content: left;
  top: 95px;
  right: 0;
  margin: 0 0 0 10px;
  padding: 10px;
  border-left: 2px solid black;
  border-top: 2px solid black;  
  height: calc(100vh - 45px);
  width: 270px;
  background-color: whitesmoke;
}

#chat-messages {
  position: fixed;
  display: flex;
  justify-content: left;
  text-align: left;
  top: 130px;
  right: 0;
  width: 270px;
  height: calc(100vh - 190px);
  padding: 5px;
  margin: 2px;
  word-wrap: break-word;
  overflow: scroll;
}

#chat-messages > li > div {
  margin-left: 10px;
}

#chat-title {
  position: relative;
  bottom: 40px;
  font-size: 1.1rem;
}

.user-wrapper {
  display: flex;
}

.user {
  color: darkorchid;
  border-radius: 0 8px 8px 0;
  font-weight: bold;
  font-size: 0.7rem;
  margin: 4px;
  padding: 4px;
  background: var(--gradient3);
}

.user-icon {
  font-size: 1.1rem;
  border-radius: 8px 0 0 8px;
  padding: 2px !important;
  height: 30px;
}

.message {
  word-break: break-all;
  word-break: break-word;
  font-size: 0.8rem;
}

.chat-announcement {
  font-weight: bold;
  font-style: italic;
}

#messageInput {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 250px;
  padding: 5px;
}

#send-message-button {
  position: fixed;
  right: -200px;
  /* display: none; */
}


@media (max-width: 800px) {
  #chatbox {
    display: none;
  }
}
