h3 {
  color: white;
}

.player-tabs-filter-wrapper {
  display: flex;
  flex-direction: row;
  width: 450px;
  margin: 0 10px -50px 200px;
}

.player-tabs-filter-wrapper > div {
  display: flex;
  flex-direction: column;
  width: 200px;
  text-align: left;
}

.player-tabs-filter-wrapper .player-type-wrapper {
  width: 130px;
}

.player-wrapper {
  display: flex;
}

.ir {
  background-color: red;
  color: white;
  font-weight: 800;
  font-size: 0.8rem;
  border: 1px solid grey;
  border-radius: 4px;
  padding: 2px;
  margin-right: 4px;
}

.draft-button-cell {
  min-width: 60px;
  max-width: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.draft-button-cell div {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 900px) { 
  .player-tabs-filter-wrapper {
    margin: 0 auto;
    width: 350px;
  }
}

