#countdown {
	color: red;
	border: none;
	border-radius: 8px;
	background-color: whitesmoke;
	position: relative;
	right: 2px;
	bottom: 10px;
	padding: 0 5px;
	font-weight: bold;
	font-size: 1.4rem;
}

.drafting-now {
	background: whitesmoke;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-right: 2px solid grey;
  border-left: 2px solid black;
	width: 65%;
	min-width: 140px;
  border-bottom: none;
	padding: 5px 0 0 5px;
	text-align: left;
}

.drafting-1, .drafting-true {
	background-color: #7ef20b7a;
}

.drafting-now :first-child {
  font-weight: bold;
  padding: 0 5px 0 0;
  margin: 0;
}

@media (max-width: 800px) {
  .drafting-now {
		flex-direction: row;
    width: 100vw;
    display: flex;
		border: none;
		justify-content: left;
		padding-left: 10px;
	}

	.drafting-now :first-child {
		margin-bottom: 12px;
	}
	
	#countdown {
		position: static;
		min-width: 90px;
		max-width: 110px;
	}
}
