.loading-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: transparent;
  transition: background 0.15s ease;
  height: 100vh;
  width: calc(100vw - 250px);
  color: whitesmoke;
  padding-bottom: 20vh;
  z-index: 99;
}

.loading-gif {
  display: flex;
  justify-content: center;
  align-items: center;
}

.absolute {
  position: absolute;
}

@media screen and (max-width: 800px) {   
  .loading-wrapper {
    width: auto;
  }
}
