ul {
  display: flex;
  justify-content: space-around;
}

li.react-tabs__tab {
  padding: 5px 10px 5px;
  position: relative;
  border: 1px solid var(--gradient1);
  box-shadow: -2px -1px grey;
  border-radius: 8px 8px 0 0;
  border-bottom: none;
  bottom: 10px;
  cursor: pointer;
  background: whitesmoke;
}

.react-tabs__tab-panel {
  transition: background 0.2s ease;
  padding: 0 20px;
  margin-top: 0;
}

#react-tabs-1 > div {
  padding-top: 20px;
}

#react-tabs-3 > div {
  padding-top: 18px;
}

#react-tabs-5 > div {
  padding-top: 16px;
}

#react-tabs-7 > div {
  padding-top: 14px;
}

.react-tabs__tab:hover {
  background: var(--gradient1);
  transition: background 0.2s ease;
}

li.react-tabs__tab--selected:hover {
  cursor: auto;
}

li.react-tabs__tab--selected, .react-tabs__tab-panel {
  border: 1px solid transparent;
  background: var(--gradient1);
  color: whitesmoke;
  transition: background 0.2s ease;
}

.navbar-tabs {
  padding: 20px 0 10px 0;
  font-size: 1.2rem;
  width: calc(100vw - 250px);
  min-width: 550px;
}

.react-tabs__tab--selected {
  font-weight: bold;
  position: fixed;
}

.navbar-tabs > div {
  position: relative;
  width: 100%;
  top: -10px;
}
