ul {
  display: flex;
  justify-content: space-around;
}

li.navtab {
  /* position: relative; */
  /* border: 1px solid var(--gradient1); */
  border-bottom: none;
  cursor: pointer;
  background: rgb(215, 235, 245);
  background: var(--main-light);
  font-variant: small-caps;
  font-weight: 900;
  /* -webkit-box-shadow: 0 0 0 2px var(--main-even);
  -moz-box-shadow: 0 0 0 2px var(--main-even);
  box-shadow: 0 0 2px 2px var(--main-dark); */
}

li.navtab > a {
  display: flex;
  padding: 12px 10px;
  border: none;
}

li.navtab > a:hover {
  color: var(--main-very-dark);
}

.tab-wrapper {
  background: var(--main-dark);
  transition: background 0.2s ease;
  padding: 50px 10px 30px;
  margin-top: 0;
  min-height: calc(100% - 35px);
}

.wide-screen {
  width: 100vw !important;
}

.navtab a:hover {
  background: var(--main-even);
  transition: background 0.1s ease;
}

li.navtab a.active {
  background: var(--main-dark);
  border: 1px solid var(--main-dark);
  border-bottom: none;
  font-weight: bold;
  color: rgb(245, 245, 245);
}

li.navtab a.active:hover {
  cursor: default;
  color: white;
}

li.navtab a.active,
.tab-wrapper {
  color: rgb(245, 245, 245);
  transition: background 0.1s ease;
  font-weight: 900;
}

.navbar-tabs {
  padding: 20px 0 0 0;
  font-size: 1.2rem;
  width: calc(100vw - 270px);
  min-width: 550px;
  margin: 0;
  position: -webkit-sticky;
  position: sticky;
}

.navtab-list {
  position: fixed;
  top: 0;
  background-color: var(--main-light);
  z-index: 10;
  width: calc(100% - 270px);
  height: 45px;
  padding-bottom: 0;
}

.team-logo-container {
  margin: 0;
  display: flex;
  place-content: center;
}

.teamLogo {
  height: 35px;
  width: auto;
}

@media screen and (max-width: 900px) {
  .navbar-tabs {
    width: auto;
    min-width: 350px;
  }

  .navbar-tabs > .navtab-list {
    height: 45px;
    width: 100vw;
    margin: 0 auto;
    padding-right: 50px;
    position: fixed;
    top: 0;
    background-color: var(--main-light);
    z-index: 10;
  }

  .navbar-tabs > .navtab-list > li.navtab {
    margin-top: 0;
  }

  .navbar-tabs > div,
  .navbar-tabs > ul {
    width: 100vw;
  }

  li.navtab {
    padding-bottom: 30px;
  }

  li.navtab > a > div,
  .hide-small-width {
    display: none;
  }

  .tab-wrapper {
    padding: 10px 0;
    margin: 35px 0 50px;
  }

  .tab-wrapper > div:last-child {
    margin-bottom: 70px;
  }
}
