ul {
  display: flex;
  justify-content: space-around;
}

li.react-tabs__tab {
  padding: 10px 3vw 5px;
  position: relative;
  border: 1px solid var(--gradient1);
  border-radius: 8px 8px 0 0;
  border-bottom: none;
  bottom: 10px;
  cursor: pointer;
  background: whitesmoke;
}

.react-tabs__tab-panel {
  transition: background 0.2s ease;
  padding: 20px;
}

.react-tabs__tab:hover {
  background: var(--gradient1);
  transition: background 0.2s ease;
}

li.react-tabs__tab--selected:hover {
  cursor: auto;
}

li.react-tabs__tab--selected, .react-tabs__tab-panel {
  border: 1px solid transparent;
  background: var(--gradient1);
  transition: background 0.2s ease;
}

