table {
  border-spacing: 0;
  text-align: left;
  padding: 0; 
  font-size: 0.9rem;
  margin: 0;
  width: 100vw;
  max-width: 100%;
  padding-right: 22vw;
  column-width: auto;
}

.table thead {
  font-variant: small-caps;
}

.table thead th {
  vertical-align: top;
  font-size: 1.1rem;
  padding: 4px;
  position: -webkit-sticky;
  position: sticky;
  top: 44px;
  bottom: 0;
  background-color: var(--main-even);
  z-index: 1;
}

.sortable-column:hover {
  color: var(--main-dark);
}

.narrow-table {
  max-width: 800px;
  margin: auto;
}

.narrow-table thead th {
  position: inherit;
}

.table td {
  padding: 4px;
  vertical-align: inherit;
}

thead, tbody {
  max-width: 100%;
}

tr:nth-child(odd) {
  background-color: rgba(164, 189, 205, 0.7);
  background-color: var(--main-even);
}

tr:nth-child(even) {
  background-color: rgba(200, 233, 255, 0.7);
  background-color: var(--main-even2);
}

tr:hover {
  background-color: rgb(166, 220, 250);
}

th, td {
  margin: 0;
  padding: 2px;
  border-bottom: 1px solid var(--main-very-dark);
  border-right: 1px solid var(--main-very-dark);
}

td:last-child, th:last-child {
  border-right: 0;
}

table tr:last-child td {
  border-bottom: 0;
}

.blank-cell {
  background-color: transparent;
}

.change-user-dropdown {
  width: 100px;
}

.disabled-pick {
  background-color: #de7d7d !important;
}

.taken-player {
  background-color: var(--unavailable) !important;
}

.current-pick-row {
  border-top: 4px solid green;
  border-bottom: 4px solid green;
}

.small-username {
  font-size: 0.7rem;
  margin: 2px !important;
}

.player-name-and-headshot {
  display: flex;
  align-items: center;
  line-height: 1.3;
}

.headshot {
  height: 35px;
  width: 27px;
  margin: 0 10px 0 0; 
  border-radius: 12px;
  background: url('/src/assets/emptyHeadshot.png') no-repeat scroll 0 0;
}

.timezoneInWords {
  font-size: 0.8rem;
}

td.Pick {
  padding-left: 8px;
}

.prospect {
  font-size: 0.8rem;
  background: lightcyan;
  border: 1px solid var(--main-very-dark);
  border-radius: 100%;
  padding: 4px 7px;
}

.keeper {
  font-size: 0.8rem;
  background: var(--main-very-dark);
  color: white;
  border-radius: 2px;
  padding: 3px 6px;
}

.empty-text {
  margin-bottom: 150px;
}

.draft-export-wrapper {
  margin-left: auto;
  margin: -0 0 -30px 0;
}

.pick-column-wrapper {
  display: flex;
}

.admin-column {
  display: flex;
  margin-left: 20px;
}

.pick-number {
  font-size: 1.6rem;
  box-shadow: rgba(200, 233, 255, 0.7);
  border-radius: 4px;
  width: 60px;
  text-align: right;
  padding: 2px 10px 2px 0;
  color: white;
  background-color: black;
}

.current-pick {
  background-color: green;
}

#prospect-column, #team-dropdown-column, #show-taken-dropdown {
  background: transparent;
  position: absolute;
  height: 50px;
  top: 0;
  left: 200px;
  border: none;
  color: var(--main-light);
}

#show-taken-dropdown {
  left: 360px;
}

.prospect-column-hidden {
  width: 0;
  padding: 0 !important;
  border: none;
}

.asterisk {
  color: grey;
  font-size: 1.1rem;
  font-weight: 700;
}

.select-player-header input {
  height: 36px;
}

@media screen and (max-width: 900px) { 
  table {
    min-width: 350px;
    max-width: 100vw;
    margin: 0;
    padding: 0;
  }

  .table-sticky-wrapper-mobile {
    position: sticky;
    left: 0;
    width: 0;
  }

  th.blank-cell, .admin-column {
    display: none;
  }
  .table thead th {
    top: 44px;
    z-index: 5;
    border: none;
    border-left: 1px solid var(--main-very-dark);
    outline: 1px solid var(--main-very-dark);
  }

  .table-sticky-wrapper-mobile th {
    min-width: 30px;
  }

  .players-tabs {
    margin: 95px 0 0 0;
  }

  .table tbody tr td.Player {
    position: -webkit-sticky;
    position: sticky;
    left: 0;
    background: var(--main-even2);
    z-index: 1;
  }

  .table thead tr th.Player {
    z-index: 6;
    left: 0;
  }

  .table tbody tr td.Player.player-box-shadow:after, .table thead tr th.Player.players-header:after {
    content: "";
    position: absolute;
    border-right: none;
    top: 0;
    right: 0;
    width: 2px;
    height: 100%;
    pointer-events: none;
    box-shadow:var(--main-very-dark) 3px 0 6px 0;
  }

  .table tbody tr:nth-child(odd) td.Player {
    background: var(--main-even);
  }

  .table tbody tr.taken-player td.Player {
    background-color: var(--unavailable) !important;
  }

  .table thead th, .table td {
    font-size: 1.0rem;
    padding: 3px;
  }
  .table td {
    font-size: 0.7rem;
  }
  .headshot {
    display: none;
  }
  .draftPickTimestamp {
    font-size: 0.7rem;
  }
  .timezoneInWords {
    display: none;
  }
  .teamLogo {
    height: 25px;
    width: auto;
  }
  #prospect-column, #team-dropdown-column, #show-taken-dropdown {
    top: 12px;
    left: 90px;
  }
  .player-count {
    margin: 5px 0 0 220px;
    width: 140px;
    font-size: 1.1rem;
  }
  #show-taken-dropdown {
    left: 210px;
  }
  .prospect {
    padding: 2px 4px;
  }
  .keeper {
    font-size: 0.7rem;
    padding: 2px 3px;
  }
  .pick-number {
    font-size: 1.2rem;
    width: 30px;
    padding-right: 0;
    text-align: center;
  }
}
