@import url('https://fonts.googleapis.com/css2?family=Karla&family=Rubik&display=swap');

:root {
  --main-bg: #ffffff;
  --main-text:  #1b2733;
  --alt-text:  #e0e0e0;
  --gradient1: rgba(38, 38, 114, 0.3);
  --gradient2: rgba(56, 56, 141, 0);
  --gradient3: rgba(56, 100, 141, 0.3);
  --gradient4: rgba(56, 100, 141, 0);
  --main-dark: rgba(38, 38, 114, 0.8);

  --alt-bg: #637282;
  --h1-color: var(--alt-text);
  --header-bg: var(--main-dark);
  --alt-bg-opaque: rgba(38, 38, 114, 0.5);

  --header-text: #ffffff;
  --button: var(--main-dark);
  --eligible: #00ff99;
  --error: rgba(238, 11, 11, 0.651);
}

/* 🎨 colors: #ffffff | #1b2733 | #637282 | #AB24A1 */

main {
  display: flex;
  height: 100vh;
  overflow-y: scroll;
  max-height: 95%;
  background: var(--main-bg);
  background:          
            linear-gradient(336deg, var(--gradient1), var(--gradient2) 70.71%),
            linear-gradient(127deg, var(--gradient3), var(--gradient4) 70.71%);         
  grid-template-columns: minmax(100%, 10%);
  text-align: center;
  font-family: 'Karla', 'Rubik', sans-serif;
  /* position: relative; */
  margin: 0;
  width: 80vw;
  /* padding-right: 22vw; */
  min-width: 500px;
  /* margin: 0 auto; */
  padding: 0;

  /* font-family: 'Rubik', sans-serif; */
}

@media (max-width: 700px) {
  main {
    width: calc(100vw - 250px);
  }
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1 {
  margin: 50px auto;
  padding: 5px;
  background: var(--alt-bg-opaque);
  max-width: 100%;
  color: var(--h1-color);
  font-size: 2rem;
}

h2 {
  background-color: transparent;
  border-radius: 8px 8px 0 0;
  font-size: 1.7rem;
  color: var(--header-text);
  margin: 0 auto;
  text-align: center;
  padding: 5px 5px;
}

h3 {
  color: var(--alt-bg);
  font-size: 1.6rem;
  margin: 30px 0 0;
  padding: 5px;
  width: auto;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.App {
  text-align: center;
}

button {
  border-radius: 4px;
  border: 1px solid var(--button);
  color: white;
  background: var(--gradient1);
}

.button:hover {
  background: var(--gradient3);
}

.hidden {
  display: none;
}
