@import url('https://fonts.googleapis.com/css2?family=Karla&family=Rubik&display=swap');

:root {
  --main-bg: #4484CE;
  --main-text:  #1b2733;
  --gradient1: #D9D9D9;
  --orange: #F19F4D;
  --yellow: #F9CF00;

  --main-very-dark: rgb(9, 1, 56);
  --main-dark: #4484CE;
  --main-even: #a1c1e6;
  --main-even2: #7da5d3;
  --main-light: #D9D9D9;
  --alt-text: var(--yellow);

  --link: var(--main-very-dark);
  --unavailable: rgb(114, 124, 161);

  /* --alt-bg: #637282;
  --h1-color: var(--alt-text);
  --header-bg: var(--main-dark);
  --alt-bg-opaque: rgba(38, 38, 114, 0.5); */

  --header-text: #ffffff;
  --button-bg: var(--main-dark);
  --disabled:rgba(107, 107, 107, 0.6);
  --success: rgba(4, 122, 4, 0.9);
  --success-hover: rgba(31, 197, 31, 0.9);
  --error: rgba(180, 31, 31, 0.9);
  --error-hover: rgba(255, 51, 51, 0.9);
  --danger-hover: rgba(255, 51, 51, 0.9);
}

/* 🎨 colors: #ffffff | #1b2733 | #637282 | #AB24A1 */

html {
  background-color: var(--main-light);
}

main {
  display: flex;
  height: 100vh;
  overflow-y: scroll;
  max-height: 95%;
  background: var(--main-dark);
  text-align: center;
  font-family: 'Karla', 'Rubik', sans-serif;
  margin: 0;
  width: 100vw;
  min-width: 600px;
  padding: 0;
}

.full-width {
  width: 100vw;
}

a {
  color: var(--link);
}

a:hover {
  color: var(--main-dark);
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.ck ul {
  list-style-type: circle;
  flex-direction: column;
  margin: 10px 30px;
}

h1 {
  text-align: center;
  margin: 50px auto;
  padding: 5px;
  background: var(--main-dark);
  max-width: 100%;
  color: var(--main-light);;
  font-size: 2rem;
}

h2 {
  background-color: transparent;
  border-radius: 8px 8px 0 0;
  font-size: 1.7rem;
  color: var(--header-text);
  margin: 0 auto;
  text-align: center;
  padding: 5px 5px;
}

h3 {
  color: var(--main-dark);
  font-size: 1.6rem;
  margin: 30px 0 0;
  padding: 5px;
  width: auto;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.App {
  text-align: center;
}

button {
  border-radius: 4px;
  padding: 4px 6px;
  border: 1px solid var(--main-light);
  color: var(--main-light);
  font-weight: 800;
  background: var(--button-bg);
  font-variant: small-caps;
  filter: brightness(0.95);
}

button:disabled {
  background-color: var(--main-light);
  color: var(--disabled);
}

.save-button {
  max-width: 100px;
  margin: 15px auto;
  color: var(--main-text);
}

.save-button:not(:disabled) {
  color: var(--main-light);
  background:var(--main-dark);
}

.button-large {
  font-size: 1.4rem;
  padding: 7px 15px;
}

button:not(:disabled):hover {
  background: var(--main-even);
  border: 1px solid var(--main-even);
  color: var(--main-very-dark);
}

.refresh-button {
  display: flex;
  justify-content: center;
  background: var(--success);
  border: 1px solid transparent;
  cursor: pointer;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  font-size: 2rem;
  align-items: center;
  margin: auto;
  box-shadow: 2px -2px 5px 2px #1cba7b;
  transition: transform 0.1s ease;
}

.refresh-button:hover {
  border: 1px solid var(--success-hover);
  background: var(--success-hover) !important;
  box-shadow: -2px 2px 5px 2px #1cba7b;
}

.refresh-button.spinning {
  animation: spin 0.5s ease-in-out;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.hidden {
  display: none;
}

.margin-15 {
  margin: 15px;
}

.margin-50 {
  margin: 50px;
}

textarea {
  width: 90%;
  resize: none;
  overflow: hidden;
  min-height: 50px;
  max-height: 300px;
}

@media screen and (max-width: 900px) {
  main {
    width: 100vw;
    min-width: 350px;
  }

  main > div {
    width: 100%;
  }

  h2 {
    position: sticky;
    left: 0;
    margin: 0;
    width: 10px;
  }
}
