.watchlistWrapper {
	margin: 50px 10px 10px;
	min-height: 85vh;
}

.emptyVerbiage {
	font-style: italic;
	margin: 30px 10px;
}

.alignLeft {
  text-align: left;
}

.watchlistWrapper > h2 {
	margin-top: 20px;
}

.watchlist-wrapper, .watchlist-wrapper:focus {
  display: flex;
  justify-content: center;
  margin: 5px;
  background-color: transparent;
  border: 1px solid transparent;
  outline: none;
  width: 20px;
}

.remove-autodraft {
  cursor: pointer;
  font-weight: 900;
  font-variant: small-caps;
  font-size: 2rem;
  border-radius: 100%;
  color: red;
  padding: 0 12px 2px;
  margin-right: 20px;
}

.remove-autodraft:hover {
  color: white;
}

