.watchlistWrapper {
	margin: 50px 10px 10px;
	min-height: 85vh;
}

.emptyVerbiage {
	font-style: italic;
	margin: 30px 10px;
}

.watchlistWrapper > h2 {
	margin-top: 20px;
}

.watchlist-button, .watchlist-button:focus {
  display: flex;
  justify-content: center;
  margin: 2px 5px;
  background-color: transparent;
  border: 1px solid transparent;
  outline: none;
  width: 20px;
}

.watchlist-button span {
  transition: transform 0.1s ease-in-out;
}

.watchlist-button.watched span {
  transform: scale(0.9);
}

.watchlist-button:hover span {
  transform: scale(1.4);
  transition: transform 0.1s ease-in-out;
}

.watchlist-button.watched:hover span {
  transform: scale(1);
}

@media screen and (max-width: 900px) {
  .watchlistWrapper {
    margin: 10px 0 0;
  }
}
